<div class="row" style="margin-top: 40px;">
	<a href="" ng-click="order='id'">ID</a>
	<a href="" ng-click="order='name'">Name</a>
	<a href="" ng-click="asc=!asc">Direction</a>
	<input type="text" ng-model='searchTerm.name'>
	<table class="columns medium-12">
	  <thead>
	  	<tr>
	    	<th>ID</th>
	    	<th>Account Name</th>
	    	<th>Broker ID</th>
	    	<th>Actions</th>
	  	</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="account in accounts | filter:filterDeleted | filter:searchTerm | orderBy:order:asc">
			<td>{{account.id}}</td>
			<td>{{account.name}}</td>
			<td>{{account.broker.first}} {{account.broker.last}}</td>
			<td>
				<a href="" ng-click="edit(account)">Edit</a>  |  
				<a href="" ng-click="delete(account)">Delete</a>
			</td>
		</tr>
	  </tbody>
	</table>
</div>